.about_section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 50%;
  width: 100%;
}
.about_header {
  font-family: 'Varela';
  font-size: 2rem;
  margin-top: 50px;
}

.about_content {
  font-family: 'Muli-Light';
  font-size: 1.5rem;
}
