@import './lux/variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './lux/bootswatch';
@import './components/Cover/Cover';
@import './components/ProjectSection/ProjectSection';

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Varela';
  src: url('./fonts/Varela-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  src: url('./fonts/Muli-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli-Light';
  src: url('./fonts/Muli-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli-ExtraLight';
  src: url('./fonts/Muli-ExtraLight.ttf') format('truetype');
}

@include media-breakpoint-up(xs) {
  html {
    font-size: 12px;
  }
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 12px;
  }
}
@include media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
}
@include media-breakpoint-up(xl) {
  html {
    font-size: 18px;
  }
}
